@{
    ViewBag.Title = "About Easy List";
}
<h2>Easy List</h2>

<div class="row">
    <div class="col-lg-12">
        <p>
            Easy List a simple platform for list creation.
        </p>
        <p>
            This is an ongoing test application for the purpose of learning AngularJS and related technologies.
        </p>
        <p>
            <ul>
                <li><a href="http://github.com/SlowSeer">GitHub.com/SlowSeer</a></li>
                <li><a href="http://github.com/SlowSeer/EasyList">GitHub.com/SlowSeer/EasyList</a></li>
            </ul>
            
        </p>
    </div>
</div>
